{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'students/css/style.css' %}">
    <title>Student List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
    <h2>All Students</h2>
    <a href="{%url 'student_create'%}">Add New Student</a>
    <table id="studentTable" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th><th>Age</th><th>Course</th><th>Email</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for  student in students %}
        </tr>
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.course}}</td>
            <td>{{student.email}}</td>
            <td>
                <a href="{%  url 'student_update'  student.id  %}">Edit</a>
                <a href="{%  url 'student_delete' student.id  %}">Delete</a>
            </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    $
    ('#addStudentForm').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'/api/Student/',
            data:$(this).serialize(),
            success:
        function(response){
            alert('Students added succesfully!');
            location.reload(); // or dynamically update the table
        },
        error:function(error){
            alert('Error adding student!');
        }

        });
    });
</script>

</html>